@model Web.Models.TestRunModel

@{
    ViewBag.Title = "TestRun";
}

<h2>@Model.Test.Name is running!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.Test)
        @Html.HiddenFor(x => x.MarkedAnswers)
        @Html.HiddenFor(x => x.TestResult)    
        
        @foreach (var item in Model.Test.Questions)
        {
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <strong>@item.Description</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @foreach (var answer in item.Answers)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(x => x.MarkedAnswers[answer.AnswerID])
                                @answer.Description
                            </div>
                          @*  @Html.HiddenFor(x => x.MarkedAnswers[answer.AnswerID]) *@
                        </div>
                    }
                </div>

            </div>
        }        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}        

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
